numpy
torch
git+https://github.com/huggingface/transformers.git
accelerate
peft
sentencepiece
gradio
fastapi
uvicorn
wandb
markdown2[all]
requests
prompt_toolkit
rich
deepspeed
fschat[model_worker,webui]